{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Login - myDjangoProject</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <div class="card-body">
                                        <form method="post">
                                            {% csrf_token %}
                                            {% if form.non_field_errors %}
                                                <div class="alert alert-danger" role="alert">
                                                    {% for error in form.non_field_errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}

                                              {% for hidden_field in form.hidden_fields %}
                                                {% if hidden_field.errors %}
                                                  <ul>
                                                    {% for error in hidden_field.errors %}
                                                      <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
                                                    {% endfor %}
                                                  </ul>
                                                {% endif %}
                                                {{ hidden_field }}
                                              {% endfor %}

                                            <div class="form-floating mb-3">
                                                {% render_field form.username class="form-control" placeholder=form.username.label %}
                                                {{ form.username.label_tag }}
                                            </div>
                                            <div class="form-floating mb-3">
                                                {% render_field form.password class="form-control" placeholder=form.password.label %}
                                                {{ form.password.label_tag }}
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="password.html">Esqueceu a senha?</a>
                                                <input type="submit" class="btn btn-primary" value="Login">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="{% url 'accounts:signup' %}">Não possui uma conta? Cadastre-se!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
