{% extends 'base.html' %}
{% load static %}
{% block title %}PWA Tests{% endblock %}
{% block content_title %}Push notifications{% endblock %}
{% block content_description %}Teste de push notifications{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12 mb-4">
      <p>Deseja receber nossas notificações?</p>
    </div>
</div>
<div class="row">
    <div class="card-body mb-4 col-md-8">
        <form action="." method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <div class="mb-3">
                    <label for="head">Título da notificação</label>
                    <input type="text" name="head" id="head" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="body">Corpo da notificação</label>
                    <input type="text" name="body" id="body" class="form-control">
                </div>
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Enviar">
            </div>
        </form>
    </div>
</div>
{% endblock content %}
{% block extrajs %}
{% endblock extrajs %}