{% extends 'base.html' %}
{% load static %}
{% block title %}Contacts{% endblock %}
{% block content_title %}Contatos{% endblock %}
{% block content_description %}Agenda compartilhada de contatos{% endblock %}

{% block content %}
{% include 'messages.html' %}
<div class="row">
    <div class="col-md-3 mb-4">
        <a href="{% url 'contacts:create' %}">
            <button class="btn btn-success">
                <i class="fas fa-plus"></i> Novo contato
            </button>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <table id="example" class="table table-striped dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th data-priority="1">Nome</th>
                            <th>Sobrenome</th>
                            <th>Telefone</th>
                            <th>E-mail</th>
                            <th>Cidade</th>
                            <th data-priority="2">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in contact_list %}
                            <tr>
                                <td>{{ contact.first_name }}</td>
                                <td>{{ contact.last_name }}</td>
                                <td>{{ contact.phone }}</td>
                                <td>{{ contact.email }}</td>
                                <td>{{ contact.city }}</td>
                                <td>
                                    <div>
                                        <a href="{% url 'contacts:update' contact.id %}" class="btn btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="{% url 'contacts:delete' contact.id %}" class="btn btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
    <!-- DataTables css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.bootstrap5.min.css">

    <!-- DataTables JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/responsive.bootstrap5.min.js"></script>

    <!-- local scripts -->
    <script src="{% static 'js/datatables.js' %}"></script>
{% endblock %}