{% extends 'base.html' %}
{% block title %}Deletar contato{% endblock %}
{% block content_title %}Contato: {{ contact.get_full_name }}{% endblock %}

{% block content %}
<div class="card-body mb-4 col-md-8">
    <form method="post" action="{% url 'contacts:delete' contact.id %}" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <p>Tem certeza que deseja remover esse contato?</p>
        </div>
        <div class="mb-3">
            <a href="{% url 'contacts:list' %}" class="btn btn-secondary btn-md">
                Cancelar
            </a>
            <input type="submit" class="btn btn-danger btn-md" value="Confirmar">
        </div>
    </form>
</div>
{% endblock %}