{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Editar contato{% endblock %}
{% block content_title %}{{ contact.get_full_name }}{% endblock %}

{% block content %}
{% include 'messages.html' %}

<div class="card-body mb-4 col-md-8">
    <form method="post" action="." novalidate>
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        {% for field in form.visible_fields %}
            <div class="form-group">
                <div class="mb-3">
                    {{ field.label_tag }}

                    {% if form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                  {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}

                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="mb-3">
            <a href="{% url 'contacts:list' %}" class="btn btn-secondary">Cancelar</a>
            <input type="submit" class="btn btn-success" value="Confirmar">
        </div>
    </form>
</div>
{% endblock %}